@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
:root{
  --yellow : #ffce76;
}

::selection {
  /* color: var(--yellow); */
  color: white;
  /* background-color: #00769d; */
  background-color: black;
}

body {
  background-color: #1d1919;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  background: rgb(29, 25, 25);
  background: radial-gradient(
    circle,
    rgba(29, 25, 25, 0.8379726890756303) 0%,
    rgba(29, 25, 25, 1) 50%,
    rgba(25, 26, 29, 1) 100%
  );
}

/* -----------------------------------------  */
.profile_card_div {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 4em 1em; */
}

/* -----------------------------------------  */

.whoami_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0em 1em;
}
.whoami_div .profilepic_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18em;
  user-select: none ;
  cursor: pointer;
  position: relative;
}

.whoami_div .profilepic_div .clickherespan {
  position: absolute;
  bottom: 1rem;
  right: -2rem;
  font-size: 1rem;
  color: var(--yellow);
  transform: rotate(20deg);
}

.whoami_div .profilepic_div .profilepic {
  border: #ffcf765f 5px solid;
  padding: 0.5em 0.5em;
  border-radius: 100%;
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
  padding-top: 0em;
  width: 80%;
  border-top: none;
  transition: 0.5s ease;
  filter: grayscale(50%);
}
.whoami_div .profilepic_div .profilepic:hover {
  filter: grayscale(0%);
  border: var(--yellow) 5px solid;
  border-top: none;
}

.whoami_div .textinfo {
  text-align: center;
  color: var(--yellow);
  margin: 1em 0em;
  margin-bottom: 2em;
}
.whoami_div .textinfo .name {
  font-family: "Montserrat", sans-serif;
  /* letter-spacing: 0.09em; */
  word-spacing: 0.1em;
  font-size: 2em;
  transition: 0.5s ease;
}
.whoami_div .textinfo .name:hover {
  letter-spacing: 0.09em;
}
.whoami_div .textinfo .profession {
  margin: 0.5em 0em;
  letter-spacing: 0.09em;
  font-size: 0.8em;
  opacity: 0.5;
}
.whoami_div .textinfo .profession:hover {
  opacity: 1;
}
.whoami_div .textinfo .email-address a{
  color:var(--yellow);

}


/* ----------------- OVERLAY ABOUT ---------------------  */
.overlay_div{
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background:rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  
  /* display: flex; */
  display: none;
}

.about_div{
  color: var(--yellow);
  width: min(calc(100vw - 2rem), 50rem);
  background-color: black;
  /* display: flex; */
  text-align: left;
  padding: 1rem calc(1rem);
}
.close_about_button{
  cursor: pointer;
  font-size: 4rem;
  color: var(--yellow);
  background-color: transparent;
  border: none;
  /* justify-self: right; */
  position: absolute;
  right: 1rem;
  top: 1rem;
  /* left: 99%; */
  user-select: none;
}
.close_about_button:active{
  transform: scale(0.8);
}







/* -----------------------------------------  */

.linkscard_div {
  /* width: 100%; */
  flex: 1;
  margin-bottom: 5em;
  padding: 2em 4em;
  border-radius: 2em;
  border-left: var(--yellow) 2px solid;
  border-right: var(--yellow) 2px solid;
}

.linkscard_div ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.list-item {
  /* padding: 1em 2em; */
  margin: 0.5em 0em;

}
.linkscard_div ul a {
  background-color: var(--yellow);
  text-decoration: none;
  width: 100%;
  color: #1d1919;
  padding: 1em 10em;
  border-radius: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--yellow) 2px solid;
  font-weight: 900;
  transition: 0.2s ease;
}
.linkscard_div ul a:hover,
a:active {
  border: var(--yellow) 2px solid;
  background-color: #1d1919;
  color: var(--yellow);
}

.linkscard_div ul a img {
  margin: 0em 0.2em;
  border-radius: 100%;
  width: 1.5em;
}
.linkscard_div ul a:hover img {
  background-color: var(--yellow);
}

/* @media (max-width: 315px) {
  body {
    font-size: 0.9em;
  }
} */

/* .linkscard_div ul .Download-Button a{
  background-color: transparent;
  border: none;
  color: var(--yellow);
  text-decoration: underline;
}
.linkscard_div ul .Download-Button a img{
  background-color: var(--yellow);
} */


.attribution a{
  padding: .3em 0em;
  color: var(--yellow);
}




@media (max-width: 500px) {
  .profile_card_div{
    flex:0;
    width: 100%;
  }
  .linkscard_div{
    width: 100%;
    
  }
  .linkscard_div ul a {
    border: #1d1919 2px solid;
    border-radius: 0em;
  }


}
@media (max-width: 800px) {
  /* .profile_card_div{
    flex:0.8;
  } */
  .linkscard_div{
  padding: 0em 0em;
  border: none;
}
.linkscard_div ul a {
  border: #1d1919 2px solid;
  /* border-radius: 0em; */
}
.list-item {
  margin: 0.2em 0em;
  width: 100%;
  }
}
